{
  "plugins": [
    ["styled-components", {"ssr": true, "displayName": true, "preprocess": false}],
    "babel-plugin-transform-object-rest-spread",
    "inline-react-svg",
  ],
  "presets": [
    "es2015",
    "react",
    "next/babel"
  ]
}
