node_modules/
.idea/
.DS_Store
.next/
dist/*
!dist/.keep
package-lock.json
yarn-error.log
lang/.messages
next-env.d.ts
.env*.local
.yalc
yalc.lock
.env.local
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
public/mockServiceWorker.js
# Sentry Config File
.env.sentry-build-plugin
